@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwindcss /forms;

::-webkit-scrollbar {
  width: 3px;
  height: 1px; 
  cursor: pointer;
}

::-webkit-scrollbar-track {
  background-color: transparent;
  cursor: pointer;
}

::-webkit-scrollbar-thumb {
  cursor: pointer;
  background-color: #585858
}

@layer utilities {
  .light-bg {
    background: linear-gradient(90deg, #33b6f332, #8286fd5e, #ab812557);
    background-size: 300% 300%;
    animation: gradient 6s alternate infinite;
  }

  @keyframes gradient {
    0% {
      background-position: 0%;
    }
    100% {
      background-position: 100%;
    }
  }
}