@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwindcss /forms;

@layer utilities {

  :root {
    --scrollbar-thumb: rgba(0, 0, 0, 0.2);
    --scrollbar-thumb-hover: rgba(0, 0, 0, 0.3);
  }

  .dark {
    --scrollbar-thumb: rgba(255, 255, 255, 0.2);
    --scrollbar-thumb-hover: rgba(255, 255, 255, 0.3);
  }

  ::-webkit-scrollbar {
    width: 4px;
    height: 4px;
  }

  ::-webkit-scrollbar-track {
    background: transparent;
  }

  ::-webkit-scrollbar-thumb {
    background: var(--scrollbar-thumb);
    border-radius: 2px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: var(--scrollbar-thumb-hover);
  }
}
@supports(animation-timeline: view()) {
  @keyframes fade-in-on-enter--fade-out-on-exit {
    entry 0% {
      opacity: 0;
      transform: translateY(100%);
    }

    entry 100% {
      opacity: 1;
      transform: translateY(0);
    }

    exit 0% {
      opacity: 1;
      transform: translateY(0);
    }

    exit 100% {
      opacity: 0;
      transform: translateY(-100%);
    }
  }

  .list-view>ul>li {
    animation: linear fade-in-on-enter--fade-out-on-exit;
    animation-timeline: view();
  }
}

.vue3-treeselect__single-value {
  @apply!text-black dark: !text-white;
}

.vue3-treeselect:not(.vue3-treeselect--disabled):not(.vue3-treeselect--focused) .vue3-treeselect__control:hover {
  @apply !border-gray-200 dark:!border-neutral-700;
}

.vue3-treeselect__control {
  @apply w-full !border-gray-200 !text-xs !text-black !shadow-sm !outline-none focus:!border-gray-300 focus:!ring-0 dark:!border-neutral-800 dark:!bg-neutral-900 dark:!text-white focus:dark:!border-neutral-700;
}

.vue3-treeselect__input {
  @apply !text-xs !text-black dark:!text-white;
}

.vue3-treeselect__input:focus {
  @apply !ring-0 !outline-none !shadow-none !text-xs;
}

.vue3-treeselect__menu {
  @apply !bg-white !shadow-sm !text-xs !border-t-0 !border-solid !border-gray-200 dark:!border-neutral-700 !ring-0 focus:!outline-none dark:!bg-neutral-900 dark:!text-white;
}

.vue3-treeselect .vue3-treeselect__list div {
  @apply !leading-[2.5] !py-0 !my-0;
}

.vue3-treeselect__option--highlight {
  @apply !bg-gray-100 dark:!bg-neutral-800;
}

.vue3-treeselect__option vue3-treeselect__option--highlight {
  @apply !bg-gray-100 dark:!bg-neutral-800;
}

.vue3-treeselect--open .vue3-treeselect__control {
  @apply dark:!border-neutral-700;
}

.vue3-treeselect--single .vue3-treeselect__option--selected {
  @apply !bg-gray-100 dark:!bg-neutral-800;
}

.vue3-treeselect--focused:not(.vue3-treeselect--open) .vue3-treeselect__control {
  @apply !border-gray-200 dark:!border-neutral-700 !shadow-none;
}

.vue3-treeselect__single-value {
  @apply !text-black dark:!text-white;
}
