@media (prefers-color-scheme: light) {
    #favbox-browser-extension-v2 {
        --modal-backdrop-background-color: none;
        --modal-background: rgb(255 255 255 / 81%);
        --backdrop-filter: blur(33px);
        --modal-box-shadow: 0px 16px 40px 0px rgba(0, 0, 0, 0.46), 0px 5px 12px 0px rgba(0, 0, 0, 0.50), 0px 0px 0px 0.5px #f1f1f1;
        --primary-text-color: rgb(55 65 81);
        --secondary-text-color: #bdbdbd;
        --footer-background: #eeeeef;
        --kbd-background: rgb(181 181 181 / 20%);
        --border-color: #eeeeef;
        --scroll-bg: rgb(218, 218, 218);
        --selected-item: rgba(178, 178, 178, 0.477);
    }

    #favbox-browser-extension-v2 ::-webkit-scrollbar {
        width: 4px;
        height: 4px;
    }

    #favbox-browser-extension-v2 ::-webkit-scrollbar-thumb {
        background: var(--scroll-bg);
        border-right: 0px var(--scroll-bg) solid;
        background-clip: padding-box;
        border-radius: 4px;
    }

    #favbox-browser-extension-v2 ::-webkit-scrollbar-track {
        background: transparent;
    }

    #favbox-browser-extension-v2 ::-webkit-scrollbar-thumb:hover {
        background: transparent;
        border: 4px solid var(--scroll-bg);
    }
}

@media (prefers-color-scheme: dark) {
    #favbox-browser-extension-v2 {
        --modal-backdrop-background-color: none;
        --modal-background: rgba(24, 24, 24, 0.60);
        --backdrop-filter: blur(33px);
        --modal-box-shadow: 0px 24px 60px 0px rgba(0, 0, 0, 0.46), 0px 7.5px 18px 0px rgba(0, 0, 0, 0.50), 0px 0px 0px 0.75px #000;
        --primary-text-color: #f2f2f2;
        --secondary-text-color: #bdbdbd;
        --footer-background: linear-gradient(90deg, rgba(0, 0, 0, 0.30) 0%, rgba(0, 0, 0, 0.20) 100%);
        --kbd-background: rgb(242, 242, 242, 0.2);
        --border-color: rgb(0 0 0 / 13%);
        --scroll-bg: rgba(0, 0, 0, 0.30);
        --selected-item: rgb(0 0 0 / 31%);
    }

    #favbox-browser-extension-v2 ::-webkit-scrollbar {
        width: 4px;
        height: 4px;
    }

    #favbox-browser-extension-v2 ::-webkit-scrollbar-thumb {
        background: var(--scroll-bg);
        border-right: 0px var(--scroll-bg) solid;
        background-clip: padding-box;
        border-radius: 4px;
    }

    #favbox-browser-extension-v2 ::-webkit-scrollbar-track {
        background: transparent;
    }

    #favbox-browser-extension-v2 ::-webkit-scrollbar-thumb:hover {
        background: transparent;
        border: 4px solid var(--scroll-bg);
    }

    .favbox-bookmark-favicon {
        fill: #f1f1f1;
    }
}

#favbox-browser-extension-v2 .favbox-bookmark-favicon {
    width: 14px;
    height: 14px;
}

#favbox-browser-extension-v2 {
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--primary-text-color);
}

#favbox-browser-extension-v2 .modal-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    color: inherit;
    font-size: inherit;
    width: 80vw;
    max-width: 600px;
    height: 60vh;
    max-height: 400px;
    margin: 5vh auto; 
    border: 1px solid var(--border-color);
    box-shadow: var(--modal-box-shadow);
    background: var(--modal-background);
    backdrop-filter: var(--backdrop-filter);
    border-radius: 5px;
    animation: FavBoxFadeIn 0.5s;
}

#favbox-browser-extension-v2 .list-container {
    height: 70%;
    overflow: auto;
    overscroll-behavior: contain;
    scroll-padding-block-end: 40px;
    transition: .1s ease;
    transition-property: height;
    padding: 0 8px 23px;
}


#favbox-browser-extension-v2 ul {
    padding: 0;
}

#favbox-browser-extension-v2 ul li {
    list-style: none;
    content-visibility: auto;
    cursor: pointer;
    min-height: 45px;
    border-radius: 5px;
    font-size: 14px;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 5px 10px;
    margin: 5px 0px;
    user-select: none;
}

#favbox-browser-extension-v2 ul li.active {
    transition-property: background;
    background: var(--selected-item);
}

#favbox-browser-extension-v2 .footer-container {
    display: flex;
    height: 40px;
    align-items: center;
    place-content: space-between;
    width: 100%;
    position: absolute;
    opacity: 1;
    background: var(--footer-background);
    bottom: 0px;
    border-top: 1px solid var(--border-color);
    border-radius: 0px 0px 5px 5px;
    gap: 3px;
}

#favbox-browser-extension-v2 .footer-kbd {
    display: flex;
    align-items: center;
    margin-right: 10px;
    gap: 5px;
    margin-left: auto;
}

#favbox-browser-extension-v2 .empty {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

#favbox-browser-extension-v2 .kbd {
    background: var(--kbd-background);
    color: var(--primary-text-color);
    font-size: 12px;
    border-radius: 4px;
    padding: 4px;
    min-width: 20px;
    height: 20px;
    display: -webkit-inline-flex;
    display: -moz-inline-box;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

#favbox-browser-extension-v2 .modal-backdrop {
    display: flex;
    flex-direction: column;
    position: fixed;
    z-index: 99999999;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--modal-backdrop-background-color);
    transition: opacity 0.3s ease;
}

#favbox-browser-extension-v2 .search-container {
    display: flex;
    align-items: center;
    height: 55px;
    border-bottom: 1px solid var(--border-color);
}

#favbox-browser-extension-v2 .search-container input {
    border: none;
    width: 100%;
    font-size: 18px;
    outline: none;
    color: var(--primary-text-color);
    background: transparent;
    padding: 0px 15px;
}

#favbox-browser-extension-v2 .search-container input::placeholder {
    color: var(--secondary-text-color);
}

@keyframes FavBoxFadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}
